<!DOCTYPE html>
<html>
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		{% include 'navigation.html' %}

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2><small>Cirque Du Science Presents:</small><br />Trapeze Get Degrees</h2>
					<img class="image" style="width: 100%;" src="/static/images/full-cast.jpg" alt="Science Revue 2014" />
					<br /><br />
					<p>Four students are in deep trouble when they realise they haven't completed their log books, nor any of the requisite work to pass a subject at the University of Sydney. But hope is not lost, when the students realise they can put on a faculty event for extra credit, so long as the crusty old dean doesn't get his way.</p>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}
	</body>
</html>