<!DOCTYPE html>
<html>
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		{% include 'navigation.html' %}

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Notes</h2>

					<p>One of the most wonderful things about Science Revue is the 
					opportunity it gives to try new things. When we took up our roles 
					as producers at the end of last year, we had both had experience as 
					cast members and treasurers of the society, but had never produced 
					a show before. While we knew it would be a lot of hard work, 
					commitment, and fun, we never realised just how much we’d learn, 
					and what an experience this would be.
					While having a lot of support from past producers and the Union, 
					we have essentially all been making a show whilst learning how to 
					make a show. Having a team that is so incredibly proactive, talented, 
					supportive, and dedicated to the show and the society has been 
					invaluable. And we have been very lucky to have each other to lean 
					on and to talk to, and to have such a great working relationship.
					It has been amazing to see cast and crew from last year step up 
					into leadership roles and grow so much. It has been incredible to 
					see them learn to write and choreograph and arrange, to lead and 
					direct a cast, raise funds, publicise the show, and do so many other 
					little things resulting in a show in the largest theatre in the Seymour 
					Centre.
					Aside from giving everyone at all levels of the society an opportunity 
					to try something new, and be part of a great show and community, 
					Science Revue also exists to raise funds for Cystic Fibrosis NSW. We 
					are very proud to say that our profits go to supporting those with 
					Cystic Fibrosis.
					We would finally like to thank the University of Sydney Union, The 
					University of Sydney Faculty of Science, and our Pozible sponsors. 
					You helped make this show a reality and your support is invaluable. 
					And of course, massive thanks to our Executive, Production team, 
					cast, crew, and members. You are all ridiculously talented and a joy 
					to watch, and to be around. We kind of want to bake you into a pie. 
					(Lizzy really wants to bake you all into a pie). Thank you all so much.
					We have spent many months, long days, and endless nights putting 
					this show together, and we are very proud of it. So please, sit back, 
					relax, and enjoy: TRAPEZE GET DEGREES</p>

					<b>Dom Campbell and Lizzy Blower</b>
					<br /><br />

					<p>Our job is done. The show is on. It’s been almost a year since we first 
					thought of giving this a crack, and it’s time to sit back and watch people 
					that mean so much to both of us put on one heck of a show. Our only job 
					now is to let you know who the people are that made this show the amazing 
					experience it is and has been. Firstly, the Exec team. They put gallons 
					of their time into this show and we wouldn’t be anywhere without them. 
					Secondly, the cast. What a cast! Each member we love and adore, they are 
					very talented bastards and it’s been more than a pleasure to make this show 
					with you. While some of your ideas were dumb, it’s been our honour and 
					privilege to have heard them all. Then, the Production team. Isaac, Flick, 
					Tim, Milly, Bec, JPCS. Just. Words cannot express how much we respect and 
					love each and every one of you. You’ve made the experience so amazing! 
					And thanks should also go to the Seymour, the Ninjas and BS Managers for 
					helping us put it on! Finally, a shout out to the Producers, Lizzy and Crusty Old Dom. 
					This man is a god among men. Worship him.
					It’s been a wild ride. Thanks for sharing it with us.</p>

					<b>Robert Boddington & James Wilson (Head Directors)</b>
					<br /><br />
					
					<p>What can we say, the past few months have been crazy! Neither of us 
					have attempted choreography at such a scale before so this task was 
					intimidating to say the least! But here we are about to put on a show with 
					an incredible group of dancers. A big thank you goes out to the production 
					team and executive (special mention to Tali, who without her we would’ve 
					been rehearsing outside in the rain). Also we are thankful for each other! 
					How previous directors have taken on this kind of challenge on their own 
					we’ll never know, but our individual styles really complemented each other 
					and have resulted in some really cool dances. Finally we have to thank our 
					dancers. We love our cast so much, they have worked so ridiculously hard 
					these past few months and are just about as crazy as we are, always willing 
					to come to extra rehearsals, or help us test out a new step. Thank you all, 
					sincerely, you guys are all incredible and you make us so proud every time 
					we watch you dance. It was a real pleasure having all our dancers on time 
					or another come up and tell us how much they enjoyed coming to each 
					rehearsal, first and foremost it’s a revue, and if you’re not having fun what’s 
					the point! We can’t wait to see you on stage and blow them away, you’ve 
					seen our faces each time you dance, get ready to see hundreds just like it.</p>

					<b>Felicia Addison & Isaac Carroll (Dance Directors)</b>
					<br /><br />

					<p>It’s been a pleasure to work with a group of people as committed, talented 
					and lovely as the 2014 choir. I’m so proud of them, and I want to thank them 
					for being my musical guinea pigs and putting up with me for the past 3 and 
					a half months. The executive and production teams have been wonderful 
					and supportive, and we owe so much to the producers Dom and Lizzy for 
					keeping everything together. To Aaron, my assistant vocal director, you’re 
					fantastic and I couldn’t have done it without you. I want to thank you, the 
					audience, for taking the time to come and see our show, we appreciate each 
					and every one of you being here. I hope you all enjoy the ride!</p>

					<b>Rebecca Wong (Vocal Director)</b>
					<br /><br />

					<p>Yo! You guys rock! No Words. Wow.</p>

					<b>James Peter Cooper-Stanbury (Band Director)</b>
					<br /><br />

					<p>Video directing for Science Revue 2014 was beyond fun despite the fact that Tim and myself had no idea as to what we were doing. The whole cast and crew of this show is talented and lovely, and being able to work with them has been a blast. Thank you to everyone who starred in the videos; David Walsh, Tim McNaught, Maddie Malouf, Sean Baker, Alyce Yu, Jen Bartlett, Malcolm Ramsay, Sophie Armbrister, Alexander Richmond, Jim Fishwick and Talia Meyerowitz-Katz. A huge and special thanks to our assistant director Bruno Dubosarsky, who edited all the videos and made them what they are. We couldn’t have done this without you Brunes</p>
					<b>Tim Anderson & Emilia Higgs (Video Directors)</b>

				</div>
			</div>
		</div>

		{% include 'footer.html' %}
	</body>
</html>