<!DOCTYPE html>
<html>
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		{% include 'navigation.html' %}

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h1>{{person.first_name}} {{person.last_name}}</h1>
					<img class="image" style="width: 100%;" src="/static/images//{{person.seo_url}}.jpg" alt="{{person.first_name}} {{person.last_name}}" />
					<br /><br />
					<blockquote>{{person.bio}}</blockquote>
				</div>
			</div>
		</div>

		{% include 'footer.html' %}
	</body>
</html>


