<!DOCTYPE html>
<html>
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		{% include 'navigation.html' %}

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Thankyou!</h2>
					<h3>Wellbeing Team</h3>
					<p>The wellbeing team feed us and also make us feel warm and fuzzy inside. Cheers!</p>
					<li><a href="/person/subha-nasir-ahmad">Subha Nasir Ahmad</a></li>
					<li><a href="/person/catriona-mcmillan">Catriona McMillan</a></li>
					<li><a href="/person/vinita-raj">Vinita Raj</a></li>
					<li><a href="/person/liam-beiglari">Liam Beiglari</a></li>


					<h3>Sponsors</h3>
					<p>Science Revue simply could not happen without our awesome sponsers, we can't thank them enough!</p>
					<li>University of Sydney Faculty of Science</li>
					<li>New Scientist</li>



					<h3>Pozible</h3>
					<p>A huge thankyou to the following people who donated money during our Pozible campaign to help make this show happen!</p>
					<li>Emma Balfour of Megababes Inc.</li>
					<li>Rich Uncle Thaddeus</li>
					<li>Peter Hemming</li>
					<li>Guru Laghima: An Airbender</li>
					<li>Christine Simmons</li>
					<li>Isabel Rae Timmerman</li>
					<li>Bec Wong</li>
					<li>Chloé Génion</li>
					<li>Anonymous</li>
					<li>Sharad Bhasin</li>
					<li>Helen Pope</li>
					<li>Anonymous</li>

				</div>
			</div>
		</div>

		{% include 'footer.html' %}
	</body>
</html>