<!DOCTYPE html>
<html>
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		{% include 'navigation.html' %}

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-warning" role="alert">Warning: Spoilers may be on this page, we advise viewing this content after the show!</div>
					<h2>Video</h2>

					<div class="video_wrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/M5ny5Fz3bDY?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="video_wrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/YqI81xkLTZY?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="video_wrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/G82a60xcyBM?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="video_wrapper">
						<iframe width="560" height="315" src="//www.youtube.com/embed/vZuRtkttpr0?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>



		{% include 'footer.html' %}
	</body>
</html>